body {

    background-color: #FFE500;
    display:flex;
    flex-direction: column;
    align-items: center;


}



.resaux {
font-size: 20px; 
font-family:public ;
display: flex;
flex-direction: column;
align-items: center;

}

button {

    display: flex ;
    flex-direction: row;
    width: 250px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    
 }



.bogoss {
width: 100px;
height: 90px;
border-radius: 40%;
margin-bottom: 60px;
box-shadow: 4px 4px 0px;

}


.button-haut {
    background-color: #FFE500;
font-size: 17px;
font-weight: 1000 ;
font-family: "Lexend Mega", sans-serif;
display: flex;
            justify-content: center; 
            align-items: center; 
            height: 30px;
            width: 220px;
            border: 3px solid;
            border-radius: 30px;
            text-shadow: 
                -0.5px -0.5px 0 #000,  
                 0.5px -0.5px 0 #000,
                -0.5px  0.5px 0 #000,
                 0.5px  -0.5px 0 #000;
                 box-shadow: 4px 3.5px 0px;
}

.button-bleu {
    background-color: #7DF9FF;
    font-size: 22px;
    font-weight: 1000;
    font-family: "Public Sans", sans-serif;
    box-shadow: 6px 6px 0px;
    z-index: 2;
}


.button-rose {
    background-color: #FF00F5;
    font-size: 22px;
    font-weight: 1000;
    font-family: "Public Sans", sans-serif;
    box-shadow: 6px 6px 0px;
    z-index: 2;
}

.button-orange {
    background-color: #FF4911;
    font-size: 22px;
    font-weight: 1000;
    font-family: "Public Sans", sans-serif;
    box-shadow: 6px 6px 0px;
    z-index: 2;
   
}

.grand-carré {
    display:flex;
    align-items: center;
    background-color: #FFE500 ;
    width: 300px;
    height:370px;
    border: 3px solid;
    border-radius: 30px;
    box-shadow: 20px 0px 0px;
    position: relative;
    margin-top: -360px;
    margin-left: -10px;
    z-index: 1;
}


.button-resaux {
height: 60px;
display: flex;
align-items: center;
margin-top: 30px;
margin-left: 60px ;
}